/* head */
.head {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
  background: #fff;
  z-index: 100;
}

.headIcon {
  width: 10vw;
  font-size: 6em;
  color: #5c64a4 !important;
}

.headUnLogin,
.headLogin {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 11vw;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 3vw;
}


.headBtn,
.loginOutBtn {
  font-size: 1.5em;
  color: #5c64a4;
  transition: 0.5s;
}

.headBtn:hover,
.loginBtn:hover,
.loginOutBtn:hover {
  background: #5c64a4;
  color: #fff;
}


.loginBtn {
  position: relative;
  right: 3vw;
  font-size: 1.5em;
  border: none;
  background: #fff;
  color: #5c64a4;
  transition: 0.5s;
}

.loginOutBtn {
  border: none;
  background: #fff;
}



/* banner */
.banner-bg {
  width: 98vw;
  height: 60vh;
  background-color: rgba(239, 244, 250, 0.24);
  position: relative;
  margin-top: 12vh;
  margin-bottom: 5vh;
}

.contect-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.contect-zone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.welcome-contect {
  font-size: 3em;
  color: #b7bed4;
}

.title-contect {
  font-size: 4em;
  color: #5c64a4;
}

.subtitle-contect {
  font-size: 2em;
  color: #7c9ac3;
}

.bg-images {
  width: 35vw;
  height: 65vh;
  background: url('./image/learning.png') no-repeat center center;
  background-size: 100% 100%;
  margin-right: -100px;
}

/* content */
/* blogs */
.contentHeadText {
  font-size: 3em;
  text-align: center;
  color: #5c64a4;
  width: 98vw;
  margin-bottom: 3vh;
}

.addBlogBtn {
  margin-bottom: 2vh;
  background: #5c64a4 !important;
  color: #fff !important;
}

.addForm {
  width: 97vw;
  margin-top: 10vh;
}

.formBtn {
  margin: 0 auto;
  width: 25vw;
  background: #5c64a4 !important;
  border: none !important;
}

/* users */
h1 {
  text-align: center;
  color: #5c64a4 !important;
}

.TableText {
  color: #5c64a4;
  font-size: 1.5em;
}

.table {
  padding: 0 1vw !important;
}

/* user */
.blogName {
  color: #5c64a4;
}

.blogName:hover {
  color: #5c64a4;
  opacity: 0.8;
}

.cardContnet {
  display: flex;
  justify-content: space-between;
}

.cardContnet .likes {
  padding: 0 20px;
}

.deleteBtn {
  border-color: #5c64a4;
  background: #5c64a4 !important;
  color: #fff !important;
}

.deleteBtn:hover {
  border-color: #5c64a4 !important;
  opacity: 0.8;
}

/* footer */
.footer {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #5c64a4;
}

.wechat {
  width: 5vw;
  height: 5vw;
  background-image: url(./image/wechat.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact {
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
}